* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
    background-color: rgb(186, 201, 206);
    font-family: 'Helvetica Neue', sans-serif;
}

h1, h3 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 200;
    letter-spacing: 0.2rem;
}

h3 {
    padding-top: 0.4rem;
}

#main-title-container {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    height: 125px;
    padding-top: 5%;
}

.search_nav {
    padding-top: 1%;
    padding-bottom: 1%;
}

.search_nav input {
    border-radius: 10px;
}

#search_button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}

#planets_table {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 1.6rem;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#planets_table_div {
    overflow-x:auto;
}

#planets_table thead {
    background-color: rgb(16, 169, 230);
    color: white;
}

#planets_table thead tr th {
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 200;
    letter-spacing: 0.1rem;
}

#planets_table tbody {
    background-color: white;
}

.pagination {
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding-top:1.5rem;
    padding-bottom: 3.5rem;
}

#current_page {
    background-color: rgb(143, 142, 142);
}

.pag-element {
    padding-left: 1rem;
    padding-right: 1rem;
}

.hidden_row {
    display: none;
}

input {
    width: 20%;
    height: 2.2rem;
    padding-left: 15px;
}

input:focus {
    outline: none;
}

td {
    height: 3rem;
    min-height: 3rem;
}